

section {
  background-color: rgb(25, 23, 23);
  display: flex;
  justify-content: space-between;
}

.intro-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 3rem;
}


h2 {
  font-weight: 400;
  font-size: 7.8vw;
  line-height: 1.1;
  color: #ffffff;
}

.loading {
  position: relative;
  color: rgb(255, 255, 255);
}

.loading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: #0aff9d;
  text-decoration: underline;
  animation: loading 5s linear;
}

@keyframes loading {
  0% {
      max-width: 0;
  }
  100% {
      max-width: 7em;
  }
}

/* Dark mode switch */

.switch-box {
    display: flex;
    align-items: center;
}

.dark-mode-toggle {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .dark-mode-toggle__icon {
    width: 5rem;
    margin: 3rem;
    height: auto;
    color: #F2C94C;
    transition: color .2s linear;
  }
  
  .dark-mode-toggle__icon:hover {
    color: #F6C11F;
  }
  
  .dark-mode-toggle__icon--moon {
    color: white;
    opacity: .6;
    transition: opacity .2s linear, color .2s linear;
  }
  
  .dark-mode-toggle__icon--moon:hover {
    color: white;
    opacity: .8;
  }
  
  .dark-mode-toggle__rays {
    transition: opacity .2s linear .2s;
  }
  
  .dark-mode-toggle__icon--moon .dark-mode-toggle__rays {
    transition: opacity .2s linear;
    opacity: 0;
  }
  
  .dark-mode-toggle__cut-out {
    transition: transform .5s cubic-bezier(0.54,-0.42, 0.29, 1.3);
  }
  
  .dark-mode-toggle__icon--moon .dark-mode-toggle__cut-out {
    transform: translateX(-30%);
    transition: transform .5s cubic-bezier(0.21, 0.17, 0.43, 1.43);
  }
  
  .theme--dark {
    background: var(--dark);
  }
  
  :root {
    --dark: #0E273C;
    --light: #efefef;
  }
  
  body {
    background: var(--light);
    transition: background-color .2s ease-in-out;
  }

